@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600;700&display=swap');
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css');

body {
  margin: 0;
  font-family: 'IBM Plex Sans', 'Pretendard', sans-serif !important;
}

input,
textarea,
button,
select {
  font-family: inherit;
}

.font-mono-custom {
  font-family: 'IBM Plex Sans', 'Pretendard', sans-serif !important;
}

.marking-grid-bg {
  background-image: linear-gradient(to bottom, rgba(136, 135, 131, 0.15) 1px, transparent 1px);
  background-size: 100% 12px;
}

::selection {
  background-color: #556042;
  color: #F7F6F2;
}